[{lager, [
    {handlers, [
        {lager_console_backend, [
            {level, debug},
            {formatter, lager_default_formatter},
            {formatter_config, [time, " [", severity, "] ", message, "\n"]}
        ]}
    ]}
]},
{eredis_cluster, [
    {clusters, [
        {memorydb_for_group_db, [
            {init_nodes, [{"clustercfg.xmpp-group-memorydb-env7.ekur4t.memorydb.us-east-1.amazonaws.com", 6379}]},
            {pool_max_overflow, 0},
            {pool_size, 50}
        ]}
    ]}
]}].
